#grid-container{
    display: grid;
    grid-template-columns: repeat (4,1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template: auto;
}

#box1{
    grid-column: 1 / span 4;
    grid-row:1;
    background-color: #f5c6d6;

}

#box2{
    grid-column: 1 / span 1;
    grid-row: 2;
    background-color: #ee2e84;
}

#box3{
    grid-column: 2 / span 1;
    grid-row: 2;
    background-color: #ee2e84;
}

#box4{
    grid-column: 3 / span 1;
    grid-row:2;
    background-color: #ee2e84;
}

#box5{
    grid-column: 4 / span 1;
    grid-row: 2;
    background-color: #ee2e84;
}

#box6{
    grid-column: 1 / span 2;
    grid-row: 3;
    background-color: #85cfd8;
}
#box7{
    grid-column: 3 / span 2;
    grid-row: 3;
    background-color: #85cfd8;
}
#box8{
    grid-column: 1 / span 3;
    grid-row: 4;
    background-color: #8dc63f;
}
#box9{
    grid-column:4 / span 1;
    grid-row: 4;
    background-color:#e76e34;
}

@media only screen and (max-width:768px){
    [id=grid-container] {
        width: 100%;
    }
}

    

